@import "ember-modal-dialog/ember-modal-structure.css";
@import "ember-modal-dialog/ember-modal-appearance.css";
html,body{
    background-color: skyblue;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}